<html>

<%= image_tag "fishing_gyotaku.png", class: "img"%>

<%= link_to "ãŽã‚‡ãŸã£ãŸãƒ¼", contents_path, class: "name"%>
<%= link_to "æ–°è¦ç™»éŒ²", new_user_path, class: "btn btn--uid1"%>

<% if current_user %>
    <%= link_to "æŠ•ç¨¿ã™ã‚‹", new_content_path, class: "btn uid3"%>
<% end %>

<center>
<h2>ãƒ¦ãƒ¼ã‚¶ãƒ¼ãƒ­ã‚°ã‚¤ãƒ³</h2>
<hr>
<%= form_tag '/top/login', method: :post, data:{turbo: false} do %>
    <p class="uid">
        <%= label_tag :uid, 'ãƒ¦ãƒ¼ã‚¶ãƒ¼IDðŸ‘¤' %>
        <%= text_field_tag :uid %>
    </p>
    <p class="pass">
        <%= label_tag :pass, 'ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰ðŸ”“' %>
        <%= password_field_tag :pass %>
    </p>
    <p class="pass">
    <%= submit_tag 'ãƒ­ã‚°ã‚¤ãƒ³' %>
    </p>
<% end %>
</center>
</html>


<style>
    html{
        background: linear-gradient(90deg, rgb(11, 110, 255), rgb(0, 255, 255));
        color:#cccccc;
    }
    h2{
        color:  #FF9900;
    }
    
    hr{
        border:none;border-top:dashed 2px #FF9900;height:2px;width:300px;
    }
    
    .uid{
        padding-top: 10px; 
        color: #FF9900;
        font-size: 20px;
        font-weight: 900;
    }
    
    .pass{
        padding-top: 10px; color: red;
        font-size: 20px;
        font-weight: 900;
    }
    
    .btn--uid1{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 200px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .uid3{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 70px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .img{

        width: 150px;
        height: 150px;
        object-fit:cover;
        margin: 0 0 0 20px;
    }
    
    .name{
        position: absolute;
        left: 28px;
        top: 110px;
        font-size:25px;
        font-weight: 900;
        color: #FF9900;
        padding:0;
        margin:0;
    }
</style>