<htmml>
<%= image_tag "fishing_gyotaku.png", class: "img"%>

<%= link_to "ぎょたったー", contents_path, class: "name"%>
    
<%= link_to "新規登録", new_user_path, class: "btn btn--uid1"%>
<%= link_to "ログイン", top_main_path, class: "btn uid2"%>

<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path, class: "btn uid2"%>
<% end %>

<% if current_user %>
    <%= link_to "投稿する", new_content_path, class: "btn uid3"%>
<% end %>

<%= link_to "北海道", prefectures_path, class: "btn pre1"%>
<%= link_to "青森県", aomoris_path, class: "btn pre2" %>
<%= link_to "岩手県", iwates_path, class: "btn pre3" %>
<%= link_to "宮城県", miyagis_path, class: "btn pre4" %>
<%= link_to "秋田県", akitas_path, class: "btn pre5" %>
<%= link_to "山形県", yamagatas_path, class: "btn pre6" %>
<%= link_to "福島県", hukusimas_path, class: "btn pre7" %>
<%= link_to "茨城県", ibarakis_path, class: "btn pre8" %>
<%= link_to "栃木県", totigis_path, class: "btn pre9" %>
<%= link_to "群馬県", gunmas_path, class: "btn pre10" %>
<%= link_to "埼玉県", saitamas_path, class: "btn pre11" %>
<%= link_to "千葉県", tibas_path, class: "btn pre12" %>
<%= link_to "東京都", toukyous_path, class: "btn pre13" %>
<%= link_to "神奈川県", kanagawas_path, class: "btn pre14" %>
<%= link_to "山梨県", yamanasis_path, class: "btn pre15" %>
<%= link_to "長野県", naganos_path, class: "btn pre16" %>
<%= link_to "新潟県", niigatas_path, class: "btn pre17" %>
<%= link_to "富山県", toyamas_path, class: "btn pre18" %>
<%= link_to "石川県", isikawas_path, class: "btn pre19" %>
<%= link_to "福井県", hukuis_path, class: "btn pre20" %>
<%= link_to "岐阜県", gihus_path, class: "btn pre21" %>
<%= link_to "静岡県", sizuokas_path, class: "btn pre22" %>
<%= link_to "愛知県", aitis_path, class: "btn pre23" %>
<%= link_to "三重県", mies_path, class: "btn pre24" %>
<%= link_to "滋賀県", sigas_path, class: "btn pre25" %>
<%= link_to "京都府", kyoutos_path, class: "btn pre26" %>
<%= link_to "大阪府", oosakas_path, class: "btn pre27" %>
<%= link_to "兵庫県", hyougos_path, class: "btn pre28" %>
<%= link_to "奈良県", naras_path, class: "btn pre29" %>
<%= link_to "和歌山県", wakayamas_path, class: "btn pre30" %>
<%= link_to "鳥取県", tottoris_path, class: "btn pre31" %>
<%= link_to "島根県", simanes_path, class: "btn pre32" %>
<%= link_to "岡山県", okayamas_path, class: "btn pre33" %>
<%= link_to "広島県", hirosimas_path, class: "btn pre34" %>
<%= link_to "山口県", yamagutis_path, class: "btn pre35" %>
<%= link_to "徳島県", tokusimas_path, class: "btn pre36" %>
<%= link_to "香川県", kagawas_path, class: "btn pre37" %>
<%= link_to "愛媛県", ehimes_path, class: "btn pre38" %>
<%= link_to "高知県", koutis_path, class: "btn pre39" %>
<%= link_to "福岡県", hukuokas_path, class: "btn pre40" %>
<%= link_to "佐賀県", sagas_path, class: "btn pre41" %>
<%= link_to "長崎県", nagasakis_path, class: "btn pre42" %>
<%= link_to "熊本県", kumamotos_path, class: "btn pre43" %>
<%= link_to "大分県", ooitas_path, class: "btn pre44" %>
<%= link_to "宮崎県", miyazakis_path, class: "btn pre45" %>
<%= link_to "鹿児島県", kagosimas_path, class: "btn pre46" %>
<%= link_to "沖縄県", okinawas_path, class: "btn pre47" %>
</div>
<center>
<% @contents.each do |e| %>
<p>
    <div class="contents">
    <%= image_tag "/get_image/#{e.id}", :size => "337.5x600"%>
    <%= video_tag "/get_video/#{e.id}",controls: true, height: "50%", width: "30%"%>
    <br>
    <nobr class="fname">
   ・ 魚の名前🐟：
    </nobr>
    <%= e.fish_name %>
    <nobr class="size">
    ・サイズ📏：
    </nobr>
    <%= e.size %>
    cm
    <nobr class="place">
    ・場所🎣：
    </nobr>
    <%= e.place_name %>
    <br>
    ・コメント💭：
    <%= e.message %>
    </div>
    <%= link_to "削除", "/contents/#{e.id}" , data:{turbo_method: :delete} %>
    <%= link_to "編集", edit_content_path(e) %>
</p>
<% end %>
</center>
</html>


<style>
    html{
        background: linear-gradient(90deg, rgb(11, 110, 255), rgb(0, 255, 255));
    }
    .btn--uid1{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 200px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    .uid2{
        color: #FFFFFF;
        position: fixed;
        top: 80px;right: 200px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .uid3{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 70px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .img{
        position: fixed;
        width: 150px;
        height: 150px;
        object-fit:cover;
        margin: 0 0 0 20px;
    }
    
    .name{
        position: absolute;
        position: fixed;
        left: 28px;
        top: 110px;
        font-size:25px;
        font-weight: 900;
        color: #FF9900;
        padding:0;
        margin:0;
    }
    
    .contents{
        font-size: 20px;
        background-color: #FFFF99;
        background-clip: content-box;
        width: 70%;
        border-radius: 100vh;
    }
    .fname{
        color: #FF9900;
        padding-left: 10px;
    }
    .size{
        color: #00CC33;
        padding-left: 10px;
    }
    .place{
        color: #880000;
        padding-left: 10px;
    }
    
    .pre1{
        color: #FFFFFF;
        position: fixed;
        top: 160px;left: 10px;
        font-size: 15px;
        background: #6699FF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre2{
        color: #FFFFFF;
        position: fixed;
        top: 160px;left: 90px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre3{
        color: #FFFFFF;
        position: fixed;
        top: 160px;left: 170px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre4{
        color: #FFFFFF;
        position: fixed;
        top: 210px;left: 10px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre5{
        color: #FFFFFF;
        position: fixed;
        top: 210px;left: 90px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre6{
        color: #FFFFFF;
        position: fixed;
        top: 210px;left: 170px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre7{
        color: #FFFFFF;
        position: fixed;
        top: 260px;left: 10px;
        font-size: 15px;
        background: #33CCFF;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre8{
        color: #FFFFFF;
        position: fixed;
        top: 260px;left: 90px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre9{
        color: #FFFFFF;
        position: fixed;
        top: 260px;left: 170px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre10{
        color: #FFFFFF;
        position: fixed;
        top: 310px;left: 10px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre11{
        color: #FFFFFF;
        position: fixed;
        top: 310px;left: 90px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre12{
        color: #FFFFFF;
        position: fixed;
        top: 310px;left: 170px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre13{
        color: #FFFFFF;
        position: fixed;
        top: 360px;left: 10px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre14{
        color: #FFFFFF;
        position: fixed;
        top: 360px;left: 90px;
        font-size: 15px;
        background: #00CC33;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre15{
        color: #FFFFFF;
        position: fixed;
        top: 360px;left: 170px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre16{
        color: #FFFFFF;
        position: fixed;
        top: 410px;left: 10px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre17{
        color: #FFFFFF;
        position: fixed;
        top: 410px;left: 90px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre18{
        color: #FFFFFF;
        position: fixed;
        top: 410px;left: 170px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre19{
        color: #FFFFFF;
        position: fixed;
        top: 460px;left: 10px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre20{
        color: #FFFFFF;
        position: fixed;
        top: 460px;left: 90px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre21{
        color: #FFFFFF;
        position: fixed;
        top: 460px;left: 170px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre22{
        color: #FFFFFF;
        position: fixed;
        top: 510px;left: 10px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre23{
        color: #FFFFFF;
        position: fixed;
        top: 510px;left: 90px;
        font-size: 15px;
        background: #99CC00;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre24{
        color: #FFFFFF;
        position: fixed;
        top: 510px;left: 170px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre25{
        color: #FFFFFF;
        position: fixed;
        top: 560px;left: 10px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre26{
        color: #FFFFFF;
        position: fixed;
        top: 560px;left: 90px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre27{
        color: #FFFFFF;
        position: fixed;
        top: 560px;left: 170px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre28{
        color: #FFFFFF;
        position: fixed;
        top: 610px;left: 10px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre29{
        color: #FFFFFF;
        position: fixed;
        top: 610px;left: 90px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre30{
        color: #FFFFFF;
        position: fixed;
        top: 610px;left: 170px;
        font-size: 15px;
        background: #CC9933;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre31{
        color: #FFFFFF;
        position: fixed;
        top: 660px;left: 10px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre32{
        color: #FFFFFF;
        position: fixed;
        top: 660px;left: 90px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre33{
        color: #FFFFFF;
        position: fixed;
        top: 660px;left: 170px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre34{
        color: #FFFFFF;
        position: fixed;
        top: 710px;left: 10px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre35{
        color: #FFFFFF;
        position: fixed;
        top: 710px;left: 90px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre36{
        color: #FFFFFF;
        position: fixed;
        top: 710px;left: 170px;
        font-size: 15px;
        background: #FF9999;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre37{
        color: #FFFFFF;
        position: fixed;
        top: 760px;left: 10px;
        font-size: 15px;
        background: #FF9999;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre38{
        color: #FFFFFF;
        position: fixed;
        top: 760px;left: 90px;
        font-size: 15px;
        background: #FF9999;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre39{
        color: #FFFFFF;
        position: fixed;
        top: 760px;left: 170px;
        font-size: 15px;
        background: #FF9999;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre40{
        color: #FFFFFF;
        position: fixed;
        top: 810px;left: 10px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre41{
        color: #FFFFFF;
        position: fixed;
        top: 810px;left: 90px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre42{
        color: #FFFFFF;
        position: fixed;
        top: 810px;left: 170px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre43{
        color: #FFFFFF;
        position: fixed;
        top: 860px;left: 10px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre44{
        color: #FFFFFF;
        position: fixed;
        top: 860px;left: 90px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre45{
        color: #FFFFFF;
        position: fixed;
        top: 860px;left: 170px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre46{
        color: #FFFFFF;
        position: fixed;
        top: 910px;left: 10px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre46{
        color: #FFFFFF;
        position: fixed;
        top: 910px;left: 90px;
        font-size: 15px;
        background: #FF3333;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .pre47{
        color: #FFFFFF;
        position: fixed;
        top: 2460px;left: 25px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
</style>