<htmml>

<%= image_tag "fishing_gyotaku.png", class: "img"%>

<%= link_to "ぎょたったー", contents_path, class: "name"%>
    
<%= link_to "新規登録", new_user_path, class: "btn btn--uid1"%>
<%= link_to "ログイン", top_main_path, class: "btn uid2"%>

<% if current_user %>
    <%= link_to 'ログアウト', top_logout_path, class: "btn uid2"%>
<% end %>

<%= link_to "投稿する", new_content_path, class: "btn uid3"%>

<%= link_to "北海道", prefectures_path, class: "btn pre1"%>

<center>
<% @contents.each do |e| %>
<p>
    <div class="contents">
    <%= image_tag "/get_image/#{e.id}", :size => "337.5x600"%>
    <%= video_tag "/get_video/#{e.id}",controls: true, height: "50%", width: "30%"%>
    <br>
    <nobr class="fname">
   ・ 魚の名前🐟：
    </nobr>
    <%= e.fish_name %>
    <nobr class="size">
    ・サイズ📏：
    </nobr>
    <%= e.size %>
    cm
    <nobr class="place">
    ・場所🎣：
    </nobr>
    <%= e.place_name %>
    <br>
    ・コメント💭：
    <%= e.message %>
    </div>
    <%= link_to "削除", "/contents/#{e.id}" , data:{turbo_method: :delete} %>
    <%= link_to "編集", edit_content_path(e) %>
</p>
<% end %>
</center>
</html>


<style>
    html{
        background: linear-gradient(90deg, rgb(11, 110, 255), rgb(0, 255, 255));
    }
    .btn--uid1{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 200px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    .uid2{
        color: #FFFFFF;
        position: fixed;
        top: 80px;right: 200px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .uid3{
        color: #FFFFFF;
        position: fixed;
        top: 20px;right: 70px;
        font-size: 20px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
    
    .img{
        position: fixed;
        width: 150px;
        height: 150px;
        object-fit:cover;
        margin: 0 0 0 20px;
    }
    
    .img2{
        
    }
    .name{
        position: absolute;
        position: fixed;
        left: 28px;
        top: 110px;
        font-size:25px;
        font-weight: 900;
        color: #FF9900;
        padding:0;
        margin:0;
    }
    
    .contents{
        font-size: 20px;
        background-color: #FFFF99;
        background-clip: content-box;
        width: 70%;
        border-radius: 100vh;
    }
    .fname{
        color: #FF9900;
        padding-left: 10px;
    }
    .size{
        color: #00CC33;
        padding-left: 10px;
    }
    .place{
        color: #880000;
        padding-left: 10px;
    }
    
    .pre1{
        color: #FFFFFF;
        position: fixed;
        top: 160px;left: 25px;
        font-size: 15px;
        background: #FF9900;
        border-radius: 100vh;
        padding: 12px 20px;
    }
</style>